In [1]:
import numpy as np
import pandas as pd

In [2]:
submission_1 = pd.read_csv('./data/Model_1_CatBoost.csv')
submission_2 = pd.read_csv('./data/Model_2_CatBoost.csv')
submission_3 = pd.read_csv('./data/Model_3_CatBoost.csv')
submission_4 = pd.read_csv('./data/Model_4_CatBoost.csv')
submission_5 = pd.read_csv('./data/Model_5_CatBoost.csv')
submission_6 = pd.read_csv('./data/Model_6_CatBoost.csv')

In [3]:
submission_a = pd.merge(submission_1, submission_3, how = 'left', on = 'ParcelId')
submission_a.head()

   ParcelId    201610    201611
0  10754147  0.032501  0.030659
1  10759547  0.019552 -0.003619
2  10843547  0.023873  0.075790
3  10859147  0.028043  0.105809
4  10879947  0.022190  0.020252

In [4]:
submission_b = pd.merge(submission_a, submission_5, how = 'left', on = 'ParcelId')
submission_b.head()

   ParcelId    201610    201611    201612
0  10754147  0.032501  0.030659  0.017949
1  10759547  0.019552 -0.003619  0.012833
2  10843547  0.023873  0.075790  0.034269
3  10859147  0.028043  0.105809  0.032328
4  10879947  0.022190  0.020252  0.015110

In [5]:
submission_c = pd.merge(submission_b, submission_2, how = 'left', on = 'ParcelId')
submission_c.head()

   ParcelId    201610    201611    201612    201710
0  10754147  0.032501  0.030659  0.017949  0.008218
1  10759547  0.019552 -0.003619  0.012833 -0.006502
2  10843547  0.023873  0.075790  0.034269  0.033699
3  10859147  0.028043  0.105809  0.032328  0.026486
4  10879947  0.022190  0.020252  0.015110  0.002748

In [6]:
submission_d = pd.merge(submission_c, submission_4, how = 'left', on = 'ParcelId')
submission_d.head()

   ParcelId    201610    201611    201612    201710    201711
0  10754147  0.032501  0.030659  0.017949  0.008218  0.033367
1  10759547  0.019552 -0.003619  0.012833 -0.006502  0.008797
2  10843547  0.023873  0.075790  0.034269  0.033699  0.006214
3  10859147  0.028043  0.105809  0.032328  0.026486  0.032230
4  10879947  0.022190  0.020252  0.015110  0.002748 -0.005727

In [7]:
submission = pd.merge(submission_d, submission_6, how = 'left', on = 'ParcelId')
submission.head()

   ParcelId    201610    201611    201612    201710    201711    201712
0  10754147  0.032501  0.030659  0.017949  0.008218  0.033367  0.017177
1  10759547  0.019552 -0.003619  0.012833 -0.006502  0.008797  0.001478
2  10843547  0.023873  0.075790  0.034269  0.033699  0.006214  0.026582
3  10859147  0.028043  0.105809  0.032328  0.026486  0.032230  0.034545
4  10879947  0.022190  0.020252  0.015110  0.002748 -0.005727  0.005915

In [10]:
submission.to_csv('./data/submission.csv', index = False)